<div class="container row shadow">
    <div class="col-md-6 mt-4 mb-3">
        <h3>Adres</h3><br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.4874038300695!2d29.021193315276648!3d40.992703979302426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab868235b3999%3A0xc59c9d664838f8e5!2zxLBzdGFuYnVsIEtpdGFww6fEsXPEsSBLYWTEsWvDtnk!5e0!3m2!1str!2str!4v1619128516333!5m2!1str!2str" width="350" height="250" style="border:1px;" allowfullscreen="" loading="lazy"></iframe>
        <br />
        <address><br />
            <p><i class="fas fa-map-marker-alt pr-1"></i><i> Emirhan Mahallesi. Emirhan Sokak NO:99/5</i></p>
            <p><i> Kadıköy / İstanbul</i></p>
        </address>
    </div>
    
    <div class="col-md-6  mt-4 mb-3">
        <h3>İletişim</h3>
        <br />
        <p><i class="fas fa-phone pr-2"></i> +90 (555) 555 55 55  </p>
        <p><i class="fas fa-at pr-2"></i><a href="mailto:emirbilet@gmail.com">emirbilet@gmail.com</a>   </p>
        <p><i class="fab fa-instagram pr-2"></i> <a href="http://www.instagram.com/teknobol" style="text-decoration: none;">TeknoBol</a>  </p>
        <p><i class="fab fa-github pr-2"></i> <a href="http://www.github.com/emirhantasci" style="text-decoration: none;">Emirhan Taşçı</a>  </p>
        <p><i class="fab fa-youtube pr-2"></i> <a href="https://www.youtube.com/channel/UC_XvkW7XZROIzcUxlSQ_0QA" style="text-decoration: none;">Emirhan Taşçı</a>  </p>
    </div>
</div>