@model BiletGuzergah

<header class="mt-5">
    @await Html.PartialAsync("_slider")
</header>

<br /><br />

      <div class="container shadow" style="margin-bottom: 100px; padding: 10px 14px;">
          <div class="form-group" style="display: inline;">
              <form action="/home/index" class="form-inline">
                  <select name="nereden" class="form-select form-select-lg mb-3" asp-items="@ViewBag.Sehirler" style="width: 505px; height:53px;">
                      <option selected disabled>Nereden</option>
                  </select>
                  <i class="fas fa-long-arrow-alt-right" style="padding: 0px 20px; font-size: 22px;"></i>
                  <select name="nereye" class="form-select form-select-lg mb-3" asp-items="@ViewBag.Sehirler" style="width: 505px; height:53px;">
                      <option selected disabled>Nereye</option>
                  </select>
                  <button type="submit" class="btn btn-danger btn-lg btn-block">Yolculuk Bul</button>
              </form>
          </div>

          @if (Model.Guzergahs != null)
          {
              <div class="row">
                  @foreach (var item in @Model.Guzergahs)
                  {

                      <div class="col-md-6">
                          @await Html.PartialAsync("_yolculuk", item)
                          
                      </div>
                  }
              </div>
          }
          else
          {
              <div class="row">
                  @await Html.PartialAsync("_noyolculuk")
              </div>
          }



      </div>
